<footer class="footer">
  <div class="container text-center">
    <a href="https://facebook.com/groups/EdinGameSoc" class="fab social fa-facebook img-fluid"></a>
    <a href="https://discord.gg/edingamesoc" class="fab social fa-discord img-fluid"></a>

    

    <span id ="randomquote" class="text font-italic" style="font-size:1vw"></span>
    
  <!--
  <script>
    function rand() {

      var quotes = ["test1","test2"]

      return quotes[Math.floor(Math.random()*quotes.length)];

    }

    document.getElementById("randomquote").innerHTML = rand();
  </script>

  -->

    <a href="https://www.twitch.tv/edingamesoc" class="fab social fa-twitch img-fluid"></a>
    <a href="https://twitter.com/edingamesoc" class="fab social fa-twitter img-fluid"></a>
  </div>
</footer>


<!-- TODO: randomise footer text with gamesoc quoptes and other funny things-->