<footer class="footer">
  <div class="container text-center">
    <a href="https://facebook.com/groups/EdinGameSoc" class="fab social fa-facebook img-fluid"></a>
    <a href="https://discord.gg/edingamesoc" class="fab social fa-discord img-fluid"></a>

  
    <a href="https://www.twitch.tv/edingamesoc" class="fab social fa-twitch img-fluid"></a>
    <a href="https://www.youtube.com/channel/UCWjCa6cbqSiRfqp9jpMndaA" class="fab social fa-youtube img-fluid"></a>
       
  </div>
</footer>


<!-- TODO: randomise footer text with gamesoc quoptes and other funny things-->