<footer class="footer">
  <div class="container text-center">
    <a href="https://facebook.com/groups/EdinGameSoc" class="fab social fa-facebook img-fluid"></a>
    <a href="https://discord.gg/edingamesoc" class="fab social fa-discord img-fluid"></a>

  
    <a href="https://www.twitch.tv/edingamesoc" class="fab social fa-twitch img-fluid"></a>
    <a href="https://www.youtube.com/channel/UCWjCa6cbqSiRfqp9jpMndaA" class="fab social fa-youtube img-fluid"></a>
    

    <!--randomise this to something funny occasionally -->
    <div>
      <a> Follow the development of this website on <a href="https://github.com/GreigHuth/eugs_website" target="_blank">github</a>
    </div>
    
  </div>
</footer>
