<!doctype html>
<html>
  <head>
      <!--  Google Analytics stuff  -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149371938-1"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-149371938-1');
      </script>

      <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

      <meta charset="utf-8">
      <title>{{page.title}}</title>
      <link rel="stylesheet" href="/assets/css/styles.css">

  </head>
  <body>
    {% include nav.html %}
    {{ content }}
  </body>
</html>
