<!doctype html>
<!---
EUGS -  Death and Rebirth
--->
<html>
  <head>

    <!--  Google Analytics stuff  -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149371938-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-149371938-1');
    </script>

    <!-- ensure responsive rendering -->  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!--Import Styles-->
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://kit.fontawesome.com/fb6be0d398.js" crossorigin="anonymous"></script>

    <!-- Js for the responsive navbar-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    
    <meta charset="utf-8">
    <title>{{page.title}}</title>

  </head>


  <body id="top">
    {% include nav.html %}
        {{ content }}

      <!-- Spacing at the bottom so the footer looks a bit better-->
      <div class="container" style="height: 150px;"></div>
    {% include footer.html %}
    
  </body>
  
</html>
